ul.bulletIndent {
    padding-left: 15px;
    list-style-type: disc !important;
}

#intro { 
    background: url("images/overlay.png"), url("../../images/intro.jpg");
}

#one {
    background: url("images/overlay.png"), url("../../images/one.jpg");
}

#two {
    background: url("images/overlay.png"), url("../../images/two.jpg");
}
 
h3 {
    font-size: 40px;
}

#header {
    background: rgba(233,233,233, 0.95);
}