ul.bulletIndent {
    padding-left: 15px;
    list-style-type: disc !important;
}

#intro { 
    background: url("images/overlay.png"), url("../../images/_intro.JPG");
}

#one {
    background: url("images/overlay.png"), url("../../images/_one.jpg");
}
s
#two {
    background: url("images/overlay.png"), url("../../images/_two.jpg");
}