ul.bulletIndent {
    padding-left: 15px;
    list-style-type: disc !important;
}

#intro { 
    background: url("images/overlay.png"), url("../../images/intro.jpg");
}

#one {
    background: url("images/overlay.png"), url("../../images/one.jpg");
}
s
#two {
    background: url("images/overlay.png"), url("../../images/two.jpg");
}